* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  margin: 0;
  width: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__logo {
  margin-top: 10px 5px;
  width: 60%;
}

img {
  width: 80%;
}

.svg__icon {
  color: #1259c3 !important;
  width: 2em;
  /* vertical-align: middle; */
}

.btn_menu {
  border-radius: 5px;
  background-color: #03264C;
}

.cuerpo_texto {
  size: 12px;
}
/* (Basado en tu última visita/Ofertas) */
.titulares {
  size: 24px;
}
.descripciones {
  size: 16px;
}
.precios {
  size: 18px;
}
.descuentos{
  size: 16px;
} 

.form__searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar__input {
  border-radius: 5px;
  width: 25em;
  height: 2.5em;
  padding: 5px;
}

.searchbar__button {
  padding: 5px;
  height: 2.5em;
  border-radius: 5px;
  color: black;
  opacity: 0.8;
}

.searchbar__button:hover {
  opacity: 1;
}

/* .navbar {
  
} */

H5 {
  text-align: center;
  color: red;
}

.background__yellow {
  background-color: #eac926;
}

