/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background__yellow {
  background-color: #eac926;
}

body {
  font-family: Roboto;
  background-color: #ebebeb;
} */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 450px;
  height: 100%;
  gap: 20px;
}

.img__logo {
  display: flex;
  align-items: flex-start;
  max-width: 50%;
  height: auto;
}

.form__searchbar {
  display: flex;
  align-items: flex-end;
  width: auto;
}

.searchbar__input {
  display: flex;
  align-items: flex-end;
  /* align-items: center; */
  justify-content: center;
  width: 50%;
  border-radius: 5px;
  /* height: 2.5em; */
  box-sizing: border-box;
  padding: 5px;
}


.searchbar__button {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 5px;
  height: 2.5em;
  border-radius: 5px;
  color: black;
  background: transparent;
  opacity: 0.8;
  /* right: 0;
  top: 0;
  bottom: 0; */
}

.searchbar__button i {
  font-size: 16px;
}

.searchbar__button:hover {
  opacity: 1;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
}

/* ul.left {
  display: flex;
  list-style: none;
  justify-self: start;
  padding: 0;
  margin: 0;
} */

.navbar__item a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.banner img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: auto;
  width: 90%;
}

.burger-menu {
  display: flex;
  flex-wrap: wrap; /* Permite que los artículos se envuelvan en múltiples filas */
  justify-content: center;
  align-items: center;
}

.articulos {
  display: flex;
  flex-wrap: wrap; /* Permite que los artículos se envuelvan en múltiples filas */
  justify-content: center;
  align-items: center;
  gap: 20px;
}

article {
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  /* flex: 1 1 100%; */
}

.articulos article {
  flex: 1 1 80%; /* Móvil: 1 columna */
}

article img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.descripcion {
  display: flex;
  align-items: baseline;
  position: relative;
  border-top: 2px solid #ebebeb;
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Alinea el texto a la izquierda */
  padding: 15px;
  border-radius: 0 0 10px 10px;
  background-color: white;
}

.truck {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #39b54a;
  border: 0.5px solid #39b54a;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition-duration: 0.7s;
}

.truck:hover {
  transform: rotate(-90deg);
}



.btn_menu {
  margin: 20px 0;
  font-size: 1.5em;
  border-radius: 5px;
  background-color: #1259c3;
}

.btn_menu i {
  margin: 8px;
  color: white;
}

.cuerpo_texto {
  size: 12px;
}
/* (Basado en tu última visita/Ofertas) */
.titulares {
  margin: 20px;
  size: 24px;
  text-align: center;
}

h3.descripciones {
  margin: 10px;
  font-size: 16px;
}
.precios {
  font-size: 18px;
  margin: 15px;
}
.descuentos {
  width: 70%;
  font-size: 16px;
  color: #39b54a;
  margin: 15px 0;
}

.compra_cuotas {
  margin: 20px;
}

footer {
  text-align: center;
  margin: 0 20px;
  padding: 10px;
}

.footer_i {
  color: #1259c3;
  font-size: 2em;
  margin: 20px 0 10px 0;
}

.title_footer {
  font-size: 1.3em;
}

.copyright {
  text-align: center;
  color: #1259c3;
  font-size: 1em;
  margin: 20px 0;
}

button[type="submit"] {
  background-color: #1259c3;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}

button[type="submit"]:hover {
  transform: scale(1.05);
  background-color: #0022aa;
}

button[type="reset"] {
  background-color: #656769;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}

button[type="reset"]:hover {
  transform: scale(1.05);
  background-color: #989899;
}

.formulario {
  display: flex;
  align-items: center;
  /* border: 1px solid #1259c3; */
  background-color: rgb(204, 198, 198);
  border-radius: 10px;
  margin: 3em auto;
  max-width: 60%;
}

.formulario form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

div.formulario input {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

input:focus {
  border: 1px solid #1259c3;
}

.categorias_interes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

@media (max-width: 360px) {
  /* .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  } */
  header {
    height: 100%;
  }
  /* .form__searchbar {
    width: 40%;
  } */
  .compra_cuotas {
    margin: 10px 30px;
    align-items: center;
  }

  h3.descripciones,
  .navbar,
  .site {
    display: none;
  }

  article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    .descripciones {
      display: block;
    }
    .descripcion {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    .descuentos {
      margin: 15px;
    }
  }

  footer {
    text-align: center;
    padding: 10px;
  }
}

/* Media Queries */
/* mobile una columna */
@media (min-width: 361px) {
  header {
    height: 100%;
  }
  .compra_cuotas {
    margin: 10px 30px;
    align-items: center;
  }
  article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    .descripciones {
      display: block;
    }
    .descripcion {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    .descuentos {
      margin: 15px;
    }
  }

  h3.descripciones,
  .site {
    display: none;
  }

  article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  main section div.products article {
    flex: 1 1 80%; 
  }
}

/* tablet */
/* dos articulos, dos culumnas */
@media (min-width: 769px) {
  main {
    flex-wrap: wrap;
  }

  article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .site {
    display: block;
  }

  h3.descripciones {
    display: flex;
    flex-direction: column;
    order: 1;
    margin: 10px;
  }

  .site {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }

  .burger-menu {
    display: none;
  }

  main section div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  main section div.products article {
    flex: 1 1 30%;
  }
}

/* desktop */
/* cuatro articulos, cuatro columnas */
@media (min-width: 1024px) {
 .navbar {
    flex-direction: row;
  }

  .navigation__menu__items {
    justify-content: center;
    margin-bottom: 10px;
  }

  main section div.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  main section div.products article {
    flex: 1 1 20%;
  }



  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  .columnas {
    flex: 1 1 30%;
    margin: 10px;
  }

  .columnas i:hover {
    color: #0022aa;

  }

  .copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }


}
